

body {
    /* text-align: center; */
}

/* header css */
header {
    width: 100%;
    margin-bottom: 50px;
}

/* logo css */
#logo {
position: absolute;
top:18px;
left:300px;
}

#D {
    position: absolute;
    left:350px;
    top:0px;
    display: block;
    font-family: 'pacifico', cursive;}

#T {
position: absolute;
left: 350px;
top: 27px;
}

/* nav Bar */


#Flogo {
  position: absolute;
  margin: 10px 0px 10px 0px;
  left: 900px;
  top: 20px;
}


#Tlogo {
  position: absolute;
  margin: 10px 0px 10px 0px;
  left: 925px;
  top: 20px;
}


#Glogo {
  position: absolute;
  margin: 10px 0px 10px 0px;
  left: 950px;
  top: 20px;
}


#Ilogo {
  position: absolute;
  margin: 10px 0px 10px 0px;
  left: 975px;
  top: 20px;
}



#F2logo {
  position: absolute;
  margin: 10px 0px 10px 0px;
  left: 1000px;
  top: 20px;
}


#Plogo {
  position: absolute;
  margin: 10px 0px 10px 0px;
  left: 1025px;
  top: 20px;
}


#Wlogo {
  position: absolute;
  margin: 10px 0px 10px 0px;
  left: 1060px;
  top: 20px;
}


#Elogo {
  position: absolute;
  margin: 10px 0px 10px 0px;
  left: 1085px;
  top: 20px;
}

/* 
hr {

  border: 10px solid #a5a5fc;
  border-radius: 50px;
  position: absolute;
  top: 100px;
} */

/* main CSS */
/* title Section */
#C {
    position: absolute;
    top: 90px;
    left: 300px;
  
}
#Posted {
  position: absolute;
    top: 110px;
    left: 310px;
}

#PrintI {
  position: absolute;
  top: 135px;
  left: 1065px;
}
#PrintP {
  position: absolute;
  top: 110px;
  left: 1083px;
}

/* print section */
#PrintDiv {
    position: absolute;
    top:150px;
    right: 250px;
}

#Print {
  position: absolute;
  top:150px;
  right: 250px;
}

#P {
  position: absolute;
  top:150px;
  right: 250px;}
}

/* main image section */

#mainImage {

  /* width: 100%;
  position: absolute;
  top: 500px;
  left: 0px; */
} 

#PI {
  position: absolute;
    top: 150px;
    left: 270px;
    margin: 10px 30px 10px 30px;
    width: 60%;
}

/* Paras Sections */

#Paras {
  width: 60%;
  position: absolute;
  top: 690px;
  right: 235px;
  text-align: left;
  margin: 0px 0px 0px 0px;
}

/* last (Recpie) Section */

#lastSection {
  position: absolute;
    top:150px;
    right: 250px;
  margin: 30px 0px 50px 0px;
}

#paper {
  width: 100%;
  position: relative;
  top: 720px;
  left: 45px
}

ul {
  text-align: left;
}

ul li {
  margin: 10px 50px 10px 50px;
}

#ul1 {
  float: left;
  position: absolute;
  top: 750px;
  left: 100px;
  margin-right: 0px;
}

#ul2 {
  float: right;
  position: absolute;
  top: 750px;
  left: 500px;
  margin-right: 0px
}

/* Author Section */

#aboutTheAuthor {
  width: 100%;
}

#ShareBtn {
  background-color: #af4c4c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  top: 1265px;
  left: 975px;
}

#F {
  position: absolute;
  top: 1275px;
  left: 330px;
}

#V {
  position: absolute;
    top: 1240px;
    left: 325px;
}

#VanImage {
  position: absolute;
    top: 1250px;
    left: 250px;
}


/* footer CSS */

footer {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 1340px;
}
