html {
  margin-left: 50px;
  margin-right: 50px;
}

body {
    text-align: center;
}

/* header css */
header {
    width: 100%;
    margin-bottom: 50px;
}

/* logo css */
#logo {
float: left;
position: absolute;
top:30px;
left:0px;
margin-left: 10px;
margin-top: 10px;
}

#D {
    float: left;
    position: absolute;
    left:55px;
    top:30px;
    display: block;
  

}

#T {
float: left;
position: absolute;
left: 55px;
top: auto;
}

/* nav Bar */
#Tlogo {
    margin-left: 10px;
}

.imgs {
    float: right;
    margin: 50px 1px 1px 1px;
}

/* main CSS */
/* title Section */
#titleSection {
  margin: 0px 50px 0px 50px;
}
#titleDiv {
}

/* print section */
#printDiv {
    float: right;
}

/* main image section */

#mainImage {

  width: 100%;

} 
     margin: 10px 30px 10px 30px;

#PizzaImage {
     margin: 10px 30px 10px 30px;
     width: 100%;
}

/* Paras Sections */

#Paras {
  text-align: left;
  margin: 10px 30px 10px 30px;
}

/* last (Recpie) Section */

#lastSection {
  margin: 30px 0px 50px 0px;
}

#paper {
    width: 70%;
}

ul {
  text-align: left;
}

ul li {
  margin: 10px 50px 10px 50px;
}

#ul1 {

  float: left;
  position: absolute;
  top: 950px;
  left: 350px;
  margin-right: 150px;
}

#ul2 {
  float: right;
  position: absolute;
  top: 950px;
  right: 350px;
  margin-left: 150px;
}

/* Author Section */

#aboutTheAuthor {
}



/* footer CSS */

footer {
    width: 100%;
text-align: center;
}
